@import url('./fonts/caudex.css');
@import url('./fonts/spacegrotesk.css');
@import url('./fonts/Avenir/avenir.css');

@import "tailwindcss";

@theme {
    --color-background: #091405;
    --color-background-2: #f6f9f5;

    --color-highlight: #e0fd2c;
    --color-caption: #f6f9f5;

    --color-secondary: #a5c8d4;

    --background-color: var(--color-green-300);

    --font-sans:
        'var(--aw-font-sans, ui-sans-serif)', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: 'var(--aw-font-serif, ui-serif)', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-heading: 'var(--aw-font-heading, ui-sans-serif)', ui-sans-serif, system-ui, sans-serif;
    --font-caudex: 'Caudex', sans-serif;
    --font-grotesk: 'Space Grotesk', sans-serif;
    --font-avenir: 'Avenir', sans-serif;

    --animate-fade-in: fade-in 1.5s ease-out both;
}

@keyframes fade-in {
    from {
        opacity: 0;
        clip-path: inset(100% 0 0 0);
    }

    to {
        opacity: 1;
        clip-path: inset(0);
    }
}

@layer base {
    .hero-container {
        @apply bg-background-2 md:px-10 lg:px-15 md:py-15
    }

    .button {
        @apply font-sans font-medium text-lg py-3 px-10 rounded-full border shadow-xl transition-colors duration-300;
    }
    
    .button-primary {
        @apply bg-highlight border-background font-light text-background shadow-md hover:bg-background hover:border-2 hover:border-highlight hover:text-highlight transition-colors duration-300;
    }

    .button-secondary {
        @apply bg-secondary border-background text-caption shadow-md hover:bg-background hover:border-2 hover:border-secondary hover:text-secondary transition-colors duration-300;
    }

    h1 .variant-2 {
        @apply font-grotesk text-7xl md:text-8xl lg:text-9xl tracking-[-0.09em]
    }

    h2 .variant-2 {
        @apply text-xl tracking-wide
    }

    p .variant-2 {
        @apply tracking-wider font-stretch-ultra-expanded
    }

    label.contact-form{
        @apply basis-full lg:basis-1/2 text-highlight font-semibold md:font-light md:text-sm py-2 font-avenir
    }

}